@import './mixins';

*{
    font-family: "Proxima Nova", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef1f4;
}

#form{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
    
    .image{  
        margin-left: 10%;
        img{
            width: 75%;
        }
            @include tablet{
                display: none;
            }
    }
    .link{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 5%;
        line-height: 60px;
    .prev{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #e2e8f0;
    background-color: #f8fafc;
    transition: .3s all ease;
    
    img{
        background-color: #f8fafc;
    }
    }
}
    .btn{
        padding: 14px 170px ;
        border-radius: 8px;
        background-color: #1a75ff;
        border: 1px solid transparent;
        width: 100%;
        font-weight: 600;
        font-size: 20px;
        color: #fff;
        margin-bottom: 2vw;
        cursor: pointer;
        transition: .3s all ease;
        &:hover{
            transform: scale(1.03);
        }
    }
    #username{
        padding: 0 0 0 56px;
        max-height: 56px;
        height: 6vh;
        border: 1px solid #cbd5e1;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 400;
        width: 87%;
        background-color: transparent;
        position: relative;
        
    }
    #mail{
        padding: 0 0 0 56px;
        max-height: 56px;
        height: 6vh;
        border: 1px solid #cbd5e1;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 400;
        width: 87%;
        background-color: transparent;
    }
    .psw{
        color: #0d96ff;
        margin-left: 42%;
    }
    .chk{
        text-decoration: none;
        color: #313335;
        margin-left: 10px;
        font-size: 13.5px;
        margin-bottom: 30px;
        margin-top: 5%;
        cursor: pointer;
        a{
            color: #0d96ff;
        }
    }
    .signup{
        margin-right: 10%;
        margin-top: 5%;
        width: 30%;
    }
    .text{
        font-size: 45px;
        color: #39464e;
    }
    .text_p{
        color: #64748b;
    }
    .line{
        line-height: 50px;
    }
    .phone_icon{
        position: absolute;
        top: 14px;
        left: 20px;
    }
    .mail_icon{
        position: absolute;
        top: 14px;
        left: 20px;
    }
    .rltv{
        position: relative;
    }
    }
    

